/home/character/Desktop/Ad-BlockerResearch/2. Resources (js)/bmp.log
/home/character/Desktop/Ad-BlockerResearch/2. Resources (js)/package-lock.json
/home/character/Desktop/Ad-BlockerResearch/2. Resources (js)/package.json
/home/character/Desktop/Ad-BlockerResearch/2. Resources (js)/node_modules
